In [ ]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
# key='yourKey'
# from project_lib import Project
# project = Project(project_id='key', project_access_token='key')
# pc = project.project_context
#keys para ibm cloud si lo ejecutas ahi

# MARATONA BEHIND THE CODE 2020

## DESAFIO 7 - BanCoppel

<hr>

## Instalando Librerias

In [ ]:
!pip install scikit-learn --upgrade

Requirement already up-to-date: scikit-learn in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.23.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn) (1.15.4)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn) (0.16.0)

In [ ]:
!pip install xgboost --upgrade

Requirement already up-to-date: xgboost in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.2.0)
Requirement already satisfied, skipping upgrade: scipy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from xgboost) (1.2.0)
Requirement already satisfied, skipping upgrade: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from xgboost) (1.15.4)

In [ ]:
!pip install imblearn --upgrade

Requirement already up-to-date: imblearn in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.0)
Requirement already satisfied, skipping upgrade: imbalanced-learn in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imblearn) (0.7.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (1.15.4)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (0.23.2)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (0.16.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)

<hr>

## Descargar los conjuntos de datos en formato .csv

In [ ]:
import pandas as pd

In [ ]:
!wget --no-check-certificate --content-disposition https://gitlab.com/JoaoPedroPP/datasets/-/raw/master/training_dataset.csv
df_training_dataset = pd.read_csv(r'training_dataset.csv')
df_training_dataset.tail()

--2020-09-10 03:05:16--  https://gitlab.com/JoaoPedroPP/datasets/-/raw/master/training_dataset.csv
Resolving gitlab.com (gitlab.com)... 172.65.251.78, 2606:4700:90:0:f22e:fbec:5bed:a9b9
Connecting to gitlab.com (gitlab.com)|172.65.251.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: ‘training_dataset.csv.1’

    [ <=>                                   ] 2,327,419   --.-K/s   in 0.03s

2020-09-10 03:05:16 (67.7 MB/s) - ‘training_dataset.csv.1’ saved [2327419]

,ID,Genero,Años,Estado_civil,Trabajo,Sector,Telefono,Anos_usando_internet_banking,Anos_usando_banca_movil,Banca_movil_userfriendly,Frecuencia_internet_banking_mes,Frecuencia_banca_movil_mes,Frecuencia_pagamentos_tarjeta_mes,Frecuencia_tarjeta_virtual_mes,Frecuencia_saldo_cuenta_mes,TARGET
23994,160,F,40.0,Soltero,Profesor,Sector privado,Iphone 6+,10.0,3.0,Si,31.0,0.0,0.0,0.0,31.0,Perfil_3
23995,155,F,24.0,NaN,Profesor,Institucion publica,L G,15.0,6.0,Si,30.0,30.0,31.0,30.0,7.0,Perfil_0
23996,229,F,24.0,Casado,Profesor,Desempleados,LG V10,5.0,3.0,Si,0.0,30.0,1.0,0.0,0.0,Perfil_4
23997,214,F,24.0,Soltero,Desempleados,Desempleados,Android,5.0,6.0,No,7.0,0.0,1.0,1.0,0.0,Perfil_4
23998,30,M,30.0,Casado,Servidor publico,Institucion publica,0,5.0,4.0,No,31.0,31.0,0.0,0.0,0.0,Perfil_3

In [ ]:
df_training_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23999 entries, 0 to 23998
Data columns (total 16 columns):
ID                                   23999 non-null int64
Genero                               23110 non-null object
Años                                 23731 non-null float64
Estado_civil                         23295 non-null object
Trabajo                              21044 non-null object
Sector                               23640 non-null object
Telefono                             22578 non-null object
Anos_usando_internet_banking         23355 non-null float64
Anos_usando_banca_movil              22698 non-null float64
Banca_movil_userfriendly             23999 non-null object
Frecuencia_internet_banking_mes      21275 non-null float64
Frecuencia_banca_movil_mes           22728 non-null float64
Frecuencia_pagamentos_tarjeta_mes    23714 non-null float64
Frecuencia_tarjeta_virtual_mes       23524 non-null float64
Frecuencia_saldo_cuenta_mes          23429 non-null float64
TARGET                               23999 non-null object
dtypes: float64(8), int64(1), object(7)
memory usage: 2.9+ MB

In [ ]:
df_training_dataset.nunique()

ID                                   250
Genero                                 3
Años                                   6
Estado_civil                           2
Trabajo                               31
Sector                                 4
Telefono                              73
Anos_usando_internet_banking           5
Anos_usando_banca_movil                6
Banca_movil_userfriendly               2
Frecuencia_internet_banking_mes        7
Frecuencia_banca_movil_mes             7
Frecuencia_pagamentos_tarjeta_mes      7
Frecuencia_tarjeta_virtual_mes         7
Frecuencia_saldo_cuenta_mes            8
TARGET                                 6
dtype: int64

<hr>

## Desglose del desafío: clasificación multiclase

Este es un desafio cuyo objetivo de negocio es la segmentación de usuario de aplicativos de BanCopp. Podemos utilizar  dos enfoques: Machine Learning supervisado (clasificación) o no supervisado (clustering). En este desafío será usado la clasificación porque el conjunto de datos ya está disponible con "labels", o en otras palabras, ya con la variable objetivo. 

En la biblioteca scikit-learn tenemos diversos algoritmos para clasificación. El participante es libre para utilizar el framework que desee para completar este desafío.

En este notebook será mostrado un ejemplo usando el algoritmo "Decision Tree" para clasificar los estudantes en seis diferentes perfiles.

<hr>

In [ ]:
# Mostrando los datos nulos del dataset antes de la primera transformación (df)
print("Valores nulos del df_training_dataset antes de la transformación DropNA: \n\n{}\n".format(df_training_dataset.isnull().sum(axis = 0)))

Valores nulos del df_training_dataset antes de la transformación DropNA:

ID                                      0
Genero                                889
Años                                  268
Estado_civil                          704
Trabajo                              2955
Sector                                359
Telefono                             1421
Anos_usando_internet_banking          644
Anos_usando_banca_movil              1301
Banca_movil_userfriendly                0
Frecuencia_internet_banking_mes      2724
Frecuencia_banca_movil_mes           1271
Frecuencia_pagamentos_tarjeta_mes     285
Frecuencia_tarjeta_virtual_mes        475
Frecuencia_saldo_cuenta_mes           570
TARGET                                  0
dtype: int64

In [ ]:
# # Mostrando los datos nulos del dataset despues de la primera transformación (df)
# 


print("Valores nulos del df_training_dataset despues de la transformación DropNA: \n\n{}\n".format(df_training_dataset.isnull().sum(axis = 0)))

Valores nulos del df_training_dataset despues de la transformación DropNA:

ID                                      0
Genero                                889
Años                                  268
Estado_civil                          704
Trabajo                              2955
Sector                                359
Telefono                             1421
Anos_usando_internet_banking          644
Anos_usando_banca_movil              1301
Banca_movil_userfriendly                0
Frecuencia_internet_banking_mes      2724
Frecuencia_banca_movil_mes           1271
Frecuencia_pagamentos_tarjeta_mes     285
Frecuencia_tarjeta_virtual_mes        475
Frecuencia_saldo_cuenta_mes           570
TARGET                                  0
dtype: int64

In [ ]:
df_training_dataset

,ID,Genero,Años,Estado_civil,Trabajo,Sector,Telefono,Anos_usando_internet_banking,Anos_usando_banca_movil,Banca_movil_userfriendly,Frecuencia_internet_banking_mes,Frecuencia_banca_movil_mes,Frecuencia_pagamentos_tarjeta_mes,Frecuencia_tarjeta_virtual_mes,Frecuencia_saldo_cuenta_mes,TARGET
0,159,M,30.0,Casado,Profesor,Institucion publica,Samsung,0.0,6.0,Si,50.0,0.0,1.0,0.0,30.0,Perfil_2
1,86,F,35.0,Casado,Profesor,Institucion publica,Samsung,5.0,3.0,No,31.0,4.0,31.0,0.0,30.0,Perfil_1
2,83,M,24.0,Soltero,Servidor publico,Institucion publica,LeNovo A7000,0.0,3.0,Si,50.0,31.0,15.0,1.0,15.0,Perfil_4
3,214,M,35.0,Casado,Ingeniero de informacion,Institucion publica,Samsung,5.0,3.0,No,30.0,7.0,30.0,0.0,31.0,Perfil_1
4,31,M,24.0,Soltero,Ingeniero,Institucion publica,Samsung A6,6.0,0.0,No,4.0,NaN,1.0,15.0,1.0,Perfil_3
5,64,F,40.0,Soltero,Ingeniero de informacion,Sector privado,HTC M8,5.0,3.0,Si,7.0,31.0,1.0,0.0,0.0,Perfil_4
6,160,M,50.0,Casado,Ingeniero de informacion,Institucion publica,General Mobile,5.0,3.0,Si,1.0,30.0,0.0,0.0,0.0,Perfil_4
7,176,M,30.0,Casado,Profesor,Institucion publica,Samsung A6,5.0,4.0,Si,0.0,30.0,1.0,0.0,0.0,Perfil_4
8,85,M,30.0,NaN,NaN,Institucion publica,Asus,10.0,6.0,No,30.0,50.0,1.0,0.0,7.0,Perfil_1
9,86,F,30.0,Casado,Contador,Sector privado,LG,0.0,3.0,No,0.0,0.0,1.0,1.0,0.0,Perfil_4
10,74,NaN,30.0,Soltero,Ingeniero de informacion,Institucion publica,Samsung A6,5.0,6.0,Si,4.0,31.0,31.0,31.0,31.0,Perfil_1
11,1,NaN,30.0,Casado,Profesor,Institucion publica,LG,5.0,3.0,Si,0.0,1.0,1.0,0.0,15.0,Perfil_4
12,134,F,40.0,Soltero,Profesor,Institucion publica,Iphone,5.0,0.0,Si,NaN,4.0,1.0,0.0,30.0,Perfil_5
13,72,M,35.0,Soltero,Desempleados,Institucion publica,SAMSUNG A5,10.0,5.0,Si,31.0,31.0,0.0,0.0,1.0,Perfil_2
14,113,NaN,45.0,Soltero,Servidor publico,NaN,Samsung,0.0,6.0,No,1.0,4.0,1.0,15.0,0.0,Perfil_4
15,206,M,35.0,Soltero,Ingenieria en computacion,Sector privado,Iphone 5S,5.0,4.0,No,31.0,7.0,31.0,0.0,0.0,Perfil_2
16,202,M,35.0,Soltero,Servidor publico,Sector privado,ASUS,10.0,NaN,Si,31.0,0.0,1.0,15.0,30.0,Perfil_5
17,1,M,30.0,Casado,Desempleados,Institucion publica,General Mobile,5.0,NaN,Si,NaN,7.0,0.0,1.0,31.0,Perfil_5
18,127,M,30.0,Casado,Analista de informacion,Sector privado,Samsung S3,10.0,3.0,No,31.0,50.0,0.0,1.0,1.0,Perfil_2
19,118,M,NaN,Casado,Desempleados,Institucion publica,LG G4,5.0,3.0,No,1.0,NaN,0.0,0.0,7.0,Perfil_5
20,164,NaN,30.0,Casado,Ingeniero biomedico,Sector privado,Asus ZenFone,15.0,3.0,Si,1.0,0.0,0.0,0.0,0.0,Perfil_4
21,144,F,40.0,Casado,Ingeniero,Sector privado,Iphone,5.0,7.0,No,0.0,30.0,1.0,0.0,0.0,Perfil_4
22,32,F,30.0,Casado,Ingenieria en computacion,Sector privado,Samsung AT,5.0,7.0,Si,NaN,0.0,1.0,0.0,0.0,Perfil_5
23,41,F,40.0,Soltero,Ingenieria en computacion,Institucion publica,LG G3,5.0,3.0,Si,31.0,7.0,15.0,0.0,30.0,Perfil_2
24,90,F,30.0,Soltero,Servidor publico,Desempleados,Iphone 6,6.0,6.0,Si,7.0,4.0,31.0,15.0,15.0,Perfil_2
25,79,F,45.0,Soltero,Ingeniero biomedico,Institucion publica,NaN,10.0,6.0,Si,NaN,50.0,0.0,0.0,4.0,Perfil_5
26,132,M,35.0,Casado,Ingeniero,Sector privado,HTC,10.0,3.0,Si,0.0,4.0,0.0,15.0,0.0,Perfil_4
27,133,F,35.0,Casado,Desempleados,Institucion publica,Samsung S3,5.0,6.0,Si,NaN,NaN,31.0,15.0,7.0,Perfil_5
28,148,M,40.0,Soltero,Servidor publico,Sector privado,Iphone 7,10.0,0.0,No,31.0,50.0,15.0,0.0,30.0,Perfil_0
29,28,M,35.0,Casado,Servidor publico,Institucion publica,LeNovo K5 Vibe,0.0,6.0,No,50.0,31.0,1.0,15.0,31.0,Perfil_0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23969,142,M,45.0,Soltero,Desempleados,Institucion publica,Samsung S6 EDGE,5.0,0.0,No,1.0,1.0,15.0,0.0,0.0,Perfil_4
23970,247,M,40.0,Casado,Psicologo,Sector privado,Iphone,10.0,NaN,No,0.0,31.0,0.0,0.0,0.0,Perfil_5
23971,61,F,40.0,Soltero,AlumNo,Selfemployed,LG,5.0,3.0,Si,1.0,1.0,0.0,0.0,15.0,Perfil_1
23972,232,M,30.0,Soltero,Ingeniero electronico,Sector privado,NaN,5.0,3.0,Si,NaN,31.0,1.0,1.0,31.0,Perfil_5
23973,46,F,30.0,Casado,NaN,Selfemployed,LeNovo S1 Lite,0.0,3.0,Si,31.0,7.0,31.0,15.0,1.0,Perfil_2
23974,205,M,30.0,Soltero,NaN,Sector privado,Samsung Note 4,5.0,3.0,No,NaN,7.0,0.0,15.0,0.0,Perfil_5
23975,12,NaN,50.0,Casado,Profesor,Sector privado,NaN,10.0,3.0,Si,0.0,0.0,1.0,0.0,0.0,Perfil_4
23976,213,M,50.0,Casado,Servidor publico,Institucion publica,LG G3,15.0,4.0,No,50.0,50.0,1.0,0.0,0.0,Perfil_1
23977,122,F,40.0,Casado,Ingeniero,Institucion publica,Iphone 6,5.0,3.0,Si,31.0,31.0,1.0,0.0,31.0,Perfil_1
23978,83,F,35.0,Soltero,Ingenieria en computacion,Sector privado,Samsung,NaN,3.0,Si,1.0,31.0,0.0,1.0,4.0,Perfil_5
23979,7,NaN,30.0,Soltero,Ingeniero,Institucion publica,Iphone,5.0,3.0,No,7.0,50.0,7.0,0.0,31.0,Perfil_2
23980,80,M,35.0,Soltero,Ingeniero electronico,Institucion publica,LG,5.0,NaN,Si,31.0,31.0,15.0,15.0,0.0,Perfil_5
23981,128,M,35.0,Casado,NaN,NaN,Nokia,15.0,3.0,Si,7.0,7.0,1.0,0.0,0.0,Perfil_4
23982,58,M,50.0,Soltero,NaN,Sector privado,0,5.0,NaN,Si,7.0,7.0,1.0,0.0,31.0,Perfil_5
23983,181,F,45.0,Soltero,Ingeniero de informacion,Sector privado,Iphone 6+,10.0,NaN,No,31.0,1.0,1.0,7.0,35.0,Perfil_5
23984,46,M,35.0,Casado,NaN,Institucion publica,Iphone 5S,5.0,6.0,Si,1.0,50.0,31.0,1.0,7.0,Perfil_1
23985,59,F,40.0,Casado,Desempleados,Selfemployed,NaN,5.0,3.0,No,31.0,1.0,15.0,0.0,30.0,Perfil_2
23986,248,M,30.0,Soltero,Profesor,Sector privado,LG G2,10.0,3.0,No,31.0,0.0,0.0,0.0,0.0,Perfil_4
23987,172,M,35.0,Casado,NaN,Sector privado,Iphone,10.0,6.0,Si,0.0,0.0,0.0,15.0,0.0,Perfil_4
23988,236,F,30.0,Casado,AlumNo,Institucion publica,Samsung,10.0,6.0,Si,4.0,4.0,1.0,0.0,7.0,Perfil_4
23989,11,M,30.0,Soltero,Ingeniero,Sector privado,Iphone 6,5.0,3.0,Si,1.0,NaN,15.0,0.0,0.0,Perfil_5
23990,46,F,30.0,Casado,Ingeniero,Institucion publica,SONY Z2,10.0,0.0,No,1.0,0.0,1.0,15.0,31.0,Perfil_4
23991,95,F,30.0,Casado,AlumNo,Sector privado,Samsung,5.0,3.0,No,7.0,0.0,0.0,0.0,1.0,Perfil_4
23992,143,F,40.0,Soltero,Ingeniero de informacion,Institucion publica,Xperia,5.0,6.0,Si,0.0,4.0,0.0,0.0,1.0,Perfil_4
23993,78,M,35.0,Casado,Ingenieria en computacion,Sector privado,Iphone,5.0,0.0,Si,50.0,30.0,15.0,0.0,0.0,Perfil_2
23994,160,F,40.0,Soltero,Profesor,Sector privado,Iphone 6+,10.0,3.0,Si,31.0,0.0,0.0,0.0,31.0,Perfil_3
23995,155,F,24.0,NaN,Profesor,Institucion publica,L G,15.0,6.0,Si,30.0,30.0,31.0,30.0,7.0,Perfil_0
23996,229,F,24.0,Casado,Profesor,Desempleados,LG V10,5.0,3.0,Si,0.0,30.0,1.0,0.0,0.0,Perfil_4
23997,214,F,24.0,Soltero,Desempleados,Desempleados,Android,5.0,6.0,No,7.0,0.0,1.0,1.0,0.0,Perfil_4
23998,30,M,30.0,Casado,Servidor publico,Institucion publica,0,5.0,4.0,No,31.0,31.0,0.0,0.0,0.0,Perfil_3

### Procesando valores NaN con SimpleImputer de sklearn

Para los valores NaN, usaremos a substituición por la constante 0 como **ejemplo**.

Usted puede escoger la estrategía que crea mejor para tratar los valores nulos :)

Docs: https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html?highlight=simpleimputer#sklearn.impute.SimpleImputer

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.impute import KNNImputer
impute_zeros = SimpleImputer(
    missing_values=np.nan,
    strategy='mean',
    verbose=0,
    copy=True
)
iz = SimpleImputer(
    missing_values=np.nan,
    # fill_value='constant',
    strategy='most_frequent',
    verbose=0,
)

In [ ]:
df_training_dataset.tail()

,ID,Genero,Años,Estado_civil,Trabajo,Sector,Telefono,Anos_usando_internet_banking,Anos_usando_banca_movil,Banca_movil_userfriendly,Frecuencia_internet_banking_mes,Frecuencia_banca_movil_mes,Frecuencia_pagamentos_tarjeta_mes,Frecuencia_tarjeta_virtual_mes,Frecuencia_saldo_cuenta_mes,TARGET
23994,160,F,40.0,Soltero,Profesor,Sector privado,Iphone 6+,10.0,3.0,Si,31.0,0.0,0.0,0.0,31.0,Perfil_3
23995,155,F,24.0,NaN,Profesor,Institucion publica,L G,15.0,6.0,Si,30.0,30.0,31.0,30.0,7.0,Perfil_0
23996,229,F,24.0,Casado,Profesor,Desempleados,LG V10,5.0,3.0,Si,0.0,30.0,1.0,0.0,0.0,Perfil_4
23997,214,F,24.0,Soltero,Desempleados,Desempleados,Android,5.0,6.0,No,7.0,0.0,1.0,1.0,0.0,Perfil_4
23998,30,M,30.0,Casado,Servidor publico,Institucion publica,0,5.0,4.0,No,31.0,31.0,0.0,0.0,0.0,Perfil_3

In [ ]:
from scipy.stats import linregress
df_training_dataset_imputed= df_training_dataset
df_training_dataset_imputed['Boolean2'] = (df_training_dataset_imputed['Anos_usando_internet_banking']>0).astype(int)
df_training_dataset_imputed['Boolean3'] = (df_training_dataset_imputed['Frecuencia_internet_banking_mes']>0).astype(int)
df_training_dataset_imputed['Boolean4'] = (df_training_dataset_imputed['Frecuencia_banca_movil_mes']>0).astype(int)
df_training_dataset_imputed['Boolean5'] = (df_training_dataset_imputed['Frecuencia_pagamentos_tarjeta_mes']>0).astype(int)
df_training_dataset_imputed['Boolean6'] = (df_training_dataset_imputed['Frecuencia_tarjeta_virtual_mes']>0).astype(int)
df_training_dataset_imputed['Boolean7'] = (df_training_dataset_imputed['Frecuencia_saldo_cuenta_mes']>0).astype(int)

In [ ]:
from scipy.stats import chi2_contingency
chi2_contingency(pd.crosstab(df_training_dataset_imputed['TARGET'], df_training_dataset_imputed['Boolean7']))

(654.1708295693218,
 3.971503464625254e-139,
 5,
 array([[ 250.00775032,  527.99224968],
        [ 688.64602692, 1454.35397308],
        [1208.9063711 , 2553.0936289 ],
        [1599.34263928, 3377.65736072],
        [1967.92733031, 4156.07266969],
        [1997.16988208, 4217.83011792]]))

In [ ]:
df_training_dataset_rmcolumns = df_training_dataset_imputed.drop(columns=['ID','Telefono'], inplace=False)

In [ ]:
df_training_dataset_rmcolumns.tail()

,Genero,Años,Estado_civil,Trabajo,Sector,Anos_usando_internet_banking,Anos_usando_banca_movil,Banca_movil_userfriendly,Frecuencia_internet_banking_mes,Frecuencia_banca_movil_mes,Frecuencia_pagamentos_tarjeta_mes,Frecuencia_tarjeta_virtual_mes,Frecuencia_saldo_cuenta_mes,TARGET,Boolean2,Boolean3,Boolean4,Boolean5,Boolean6,Boolean7
23994,F,40.0,Soltero,Profesor,Sector privado,10.0,3.0,Si,31.0,0.0,0.0,0.0,31.0,Perfil_3,1,1,0,0,0,1
23995,F,24.0,NaN,Profesor,Institucion publica,15.0,6.0,Si,30.0,30.0,31.0,30.0,7.0,Perfil_0,1,1,1,1,1,1
23996,F,24.0,Casado,Profesor,Desempleados,5.0,3.0,Si,0.0,30.0,1.0,0.0,0.0,Perfil_4,1,0,1,1,0,0
23997,F,24.0,Soltero,Desempleados,Desempleados,5.0,6.0,No,7.0,0.0,1.0,1.0,0.0,Perfil_4,1,1,0,1,1,0
23998,M,30.0,Casado,Servidor publico,Institucion publica,5.0,4.0,No,31.0,31.0,0.0,0.0,0.0,Perfil_3,1,1,1,0,0,0

In [ ]:
# Tratando variables categóricas con el método Pandas ``get_dummies()''

df_training = pd.get_dummies(df_training_dataset_rmcolumns, columns=[ 'Genero', 'Banca_movil_userfriendly', 'Estado_civil', 'Trabajo', 'Sector'])
df_training.tail()

,Años,Anos_usando_internet_banking,Anos_usando_banca_movil,Frecuencia_internet_banking_mes,Frecuencia_banca_movil_mes,Frecuencia_pagamentos_tarjeta_mes,Frecuencia_tarjeta_virtual_mes,Frecuencia_saldo_cuenta_mes,TARGET,Boolean2,...,Trabajo_Retirado,Trabajo_Servidor publico,Trabajo_Trabajador,Trabajo_adquisitivo,Trabajo_business intelligence developer,Trabajo_entrenador,Sector_Desempleados,Sector_Institucion publica,Sector_Sector privado,Sector_Selfemployed
23994,40.0,10.0,3.0,31.0,0.0,0.0,0.0,31.0,Perfil_3,1,...,0,0,0,0,0,0,0,0,1,0
23995,24.0,15.0,6.0,30.0,30.0,31.0,30.0,7.0,Perfil_0,1,...,0,0,0,0,0,0,0,1,0,0
23996,24.0,5.0,3.0,0.0,30.0,1.0,0.0,0.0,Perfil_4,1,...,0,0,0,0,0,0,1,0,0,0
23997,24.0,5.0,6.0,7.0,0.0,1.0,1.0,0.0,Perfil_4,1,...,0,0,0,0,0,0,1,0,0,0
23998,30.0,5.0,4.0,31.0,31.0,0.0,0.0,0.0,Perfil_3,1,...,0,1,0,0,0,0,0,1,0,0

In [ ]:
df_training.columns

Index(['Años', 'Anos_usando_internet_banking', 'Anos_usando_banca_movil',
       'Frecuencia_internet_banking_mes', 'Frecuencia_banca_movil_mes',
       'Frecuencia_pagamentos_tarjeta_mes', 'Frecuencia_tarjeta_virtual_mes',
       'Frecuencia_saldo_cuenta_mes', 'TARGET', 'Boolean2', 'Boolean3',
       'Boolean4', 'Boolean5', 'Boolean6', 'Boolean7', 'Genero_0', 'Genero_F',
       'Genero_M', 'Banca_movil_userfriendly_No',
       'Banca_movil_userfriendly_Si', 'Estado_civil_Casado',
       'Estado_civil_Soltero', 'Trabajo_AlumNo',
       'Trabajo_Analista de informacion', 'Trabajo_ArtesaNo', 'Trabajo_Cajero',
       'Trabajo_Contador', 'Trabajo_Desempleados', 'Trabajo_Director',
       'Trabajo_Enfermera', 'Trabajo_Gerente', 'Trabajo_Guia turistica',
       'Trabajo_Ingenieria en computacion', 'Trabajo_Ingeniero',
       'Trabajo_Ingeniero biomedico', 'Trabajo_Ingeniero de informacion',
       'Trabajo_Ingeniero de maquinaria', 'Trabajo_Ingeniero de software',
       'Trabajo_Ingeniero electrico', 'Trabajo_Ingeniero electronico',
       'Trabajo_Interprete', 'Trabajo_Matematico', 'Trabajo_Medico',
       'Trabajo_Minero', 'Trabajo_Profesor', 'Trabajo_Psicologo',
       'Trabajo_Quimico', 'Trabajo_Retirado', 'Trabajo_Servidor publico',
       'Trabajo_Trabajador', 'Trabajo_adquisitivo',
       'Trabajo_business intelligence developer', 'Trabajo_entrenador',
       'Sector_Desempleados', 'Sector_Institucion publica',
       'Sector_Sector privado', 'Sector_Selfemployed '],
      dtype='object')

In [ ]:
impute_zeros.fit(X=df_training[['Años', 'Anos_usando_internet_banking', 'Anos_usando_banca_movil',
       'Frecuencia_internet_banking_mes', 'Frecuencia_banca_movil_mes',
       'Frecuencia_pagamentos_tarjeta_mes', 'Frecuencia_tarjeta_virtual_mes',
       'Frecuencia_saldo_cuenta_mes', 
        ]])
# Reconstruyendo un Pandas DataFrame con los resultados
df_training[['Años', 'Anos_usando_internet_banking', 'Anos_usando_banca_movil',
       'Frecuencia_internet_banking_mes', 'Frecuencia_banca_movil_mes',
       'Frecuencia_pagamentos_tarjeta_mes', 'Frecuencia_tarjeta_virtual_mes',
       'Frecuencia_saldo_cuenta_mes',
       ]] = impute_zeros.transform(X=df_training[['Años', 'Anos_usando_internet_banking', 'Anos_usando_banca_movil',
       'Frecuencia_internet_banking_mes', 'Frecuencia_banca_movil_mes',
       'Frecuencia_pagamentos_tarjeta_mes', 'Frecuencia_tarjeta_virtual_mes',
       'Frecuencia_saldo_cuenta_mes', 
       ]])
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler(feature_range=(0,100))
minmax.fit_transform(df_training[['Años','Anos_usando_banca_movil','Anos_usando_internet_banking','Frecuencia_internet_banking_mes','Frecuencia_banca_movil_mes','Frecuencia_pagamentos_tarjeta_mes', 'Frecuencia_tarjeta_virtual_mes','Frecuencia_saldo_cuenta_mes']])
df_training['Promedio'] =(df_training['Anos_usando_banca_movil']+df_training['Anos_usando_internet_banking']+df_training['Frecuencia_internet_banking_mes']+df_training['Frecuencia_banca_movil_mes']+df_training['Frecuencia_pagamentos_tarjeta_mes']+df_training['Frecuencia_tarjeta_virtual_mes']+df_training['Frecuencia_saldo_cuenta_mes'])
df_training['Promedio2'] =(df_training['Promedio']/df_training['Años'])
df_training['Promedio3'] =(df_training['Anos_usando_banca_movil']+df_training['Anos_usando_internet_banking'])
df_training['Promedio4'] =(df_training['Frecuencia_internet_banking_mes']+df_training['Frecuencia_banca_movil_mes']+df_training['Frecuencia_pagamentos_tarjeta_mes']+df_training['Frecuencia_tarjeta_virtual_mes']+df_training['Frecuencia_saldo_cuenta_mes'])

In [ ]:
df_training['TARGET']

0        Perfil_2
1        Perfil_1
2        Perfil_4
3        Perfil_1
4        Perfil_3
5        Perfil_4
6        Perfil_4
7        Perfil_4
8        Perfil_1
9        Perfil_4
10       Perfil_1
11       Perfil_4
12       Perfil_5
13       Perfil_2
14       Perfil_4
15       Perfil_2
16       Perfil_5
17       Perfil_5
18       Perfil_2
19       Perfil_5
20       Perfil_4
21       Perfil_4
22       Perfil_5
23       Perfil_2
24       Perfil_2
25       Perfil_5
26       Perfil_4
27       Perfil_5
28       Perfil_0
29       Perfil_0
           ...
23969    Perfil_4
23970    Perfil_5
23971    Perfil_1
23972    Perfil_5
23973    Perfil_2
23974    Perfil_5
23975    Perfil_4
23976    Perfil_1
23977    Perfil_1
23978    Perfil_5
23979    Perfil_2
23980    Perfil_5
23981    Perfil_4
23982    Perfil_5
23983    Perfil_5
23984    Perfil_1
23985    Perfil_2
23986    Perfil_4
23987    Perfil_4
23988    Perfil_4
23989    Perfil_5
23990    Perfil_4
23991    Perfil_4
23992    Perfil_4
23993    Perfil_2
23994    Perfil_3
23995    Perfil_0
23996    Perfil_4
23997    Perfil_4
23998    Perfil_3
Name: TARGET, Length: 23999, dtype: object

# ¡Atención!

La columna **TARGET** debe ser mantenida como una string. Usted no necesita procesar/codificar la variable objetivo.

In [ ]:
!pip install seaborn
import seaborn as sns

Requirement already satisfied: seaborn in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.9.0)
Requirement already satisfied: matplotlib>=1.4.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from seaborn) (3.0.2)
Requirement already satisfied: scipy>=0.14.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from seaborn) (1.2.0)
Requirement already satisfied: numpy>=1.9.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from seaborn) (1.15.4)
Requirement already satisfied: pandas>=0.15.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from seaborn) (0.24.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (2.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (2.7.5)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.15.2->seaborn) (2018.9)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /opt/conda/envs/Python36/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (40.8.0)

In [ ]:
from sklearn.utils import resample
df = df_training

In [ ]:
# sns.countplot(x='Anos_usando_banca_movil', data=a5)
# plt.title('Supervivencia desagregada por genero')
# plt.show()

In [ ]:
# df_training['TARGET'] =df_training['TARGET'].str[-1:].astype(int)



#df_training['Anios'] = df_training['Años']
# df_training['Sector_Sector_Privado'] = df_training['Sector_Sector privado']
# df_training['Sector_Institucion_Publica'] = df_training['Sector_Institucion publica']
# df_training['Sector_Selfemployed'] = df_training['Sector_Selfemployed '] 
df = pd.get_dummies(df, columns=[ 'TARGET'])

<hr>

## Entrenando un clasificador con base en un árbol de decisión

### Selecionando FEATURES y definiendo la variable TARGET

In [ ]:
# df_training = pd.get_dummies(df_training, columns=['Años'])
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import PowerTransformer
sc =RobustScaler()
columnas= ['Boolean3',
'Boolean4',
'Promedio',
'Promedio4',
'Promedio2',
'Promedio3',
'Años',
'Frecuencia_banca_movil_mes',
'Frecuencia_internet_banking_mes',
'Anos_usando_internet_banking',
'Frecuencia_saldo_cuenta_mes',
'Frecuencia_tarjeta_virtual_mes',
'Boolean7',
'Boolean6',
'Anos_usando_banca_movil',
'Boolean2',
'Frecuencia_pagamentos_tarjeta_mes']
sc.fit(X=df_training[columnas])
df_training[
  columnas
]=sc.transform(X=df_training[
  columnas
])

In [ ]:
df_training.groupby('TARGET').mean()

,Años,Anos_usando_internet_banking,Anos_usando_banca_movil,Frecuencia_internet_banking_mes,Frecuencia_banca_movil_mes,Frecuencia_pagamentos_tarjeta_mes,Frecuencia_tarjeta_virtual_mes,Frecuencia_saldo_cuenta_mes,Boolean2,Boolean3,...,Trabajo_business intelligence developer,Trabajo_entrenador,Sector_Desempleados,Sector_Institucion publica,Sector_Sector privado,Sector_Selfemployed,Promedio,Promedio2,Promedio3,Promedio4
TARGET,,,,,,,,,,,,,,,,,,,,,
Perfil_0,0.450190,0.277580,0.375400,0.331356,0.752359,0.771371,5.654370,0.722347,-0.128535,-0.125964,...,0.002571,0.005141,0.089974,0.407455,0.460154,0.028278,0.961359,0.947253,0.227740,0.947354
Perfil_1,0.438189,0.304062,0.385353,0.385503,0.792625,0.684096,5.202933,0.606748,-0.100327,-0.077928,...,0.005600,0.012599,0.091927,0.389174,0.470835,0.036864,0.949220,0.950326,0.258203,0.931617
Perfil_2,0.468894,0.279844,0.356210,0.207047,0.573311,0.522828,3.917848,0.440877,-0.111909,-0.095162,...,0.003456,0.014354,0.091972,0.399256,0.464646,0.027113,0.513395,0.525981,0.222328,0.500869
Perfil_3,0.437749,0.205373,0.326125,0.002958,0.334902,0.331241,3.127639,0.203211,-0.132610,-0.147679,...,0.004219,0.012658,0.092224,0.394816,0.469761,0.027728,0.014909,0.073808,0.135823,0.013592
Perfil_4,0.440280,0.130752,0.255450,-0.307151,0.016056,0.146939,1.654920,-0.070690,-0.146310,-0.243958,...,0.005552,0.013390,0.096179,0.396799,0.465219,0.029066,-0.645303,-0.549312,0.032932,-0.633161
Perfil_5,0.460332,0.230621,0.298160,0.000552,0.340461,0.390733,3.182416,0.249716,-0.207080,-0.498954,...,0.002896,0.013194,0.088335,0.396943,0.467096,0.030732,0.057995,0.102185,0.149885,0.054927

In [ ]:
features = df_training[
   [ 
'Boolean3',
'Boolean4',
'Genero_F',
'Promedio',
'Promedio4',
'Promedio2',
'Promedio3',
'Años',
'Frecuencia_banca_movil_mes',
'Frecuencia_internet_banking_mes',
'Anos_usando_internet_banking',
'Frecuencia_saldo_cuenta_mes',
'Frecuencia_tarjeta_virtual_mes',
'Boolean7',
'Boolean6',
'Banca_movil_userfriendly_Si',
'Banca_movil_userfriendly_No',
'Estado_civil_Casado',
'Anos_usando_banca_movil',
'Boolean2',
'Frecuencia_pagamentos_tarjeta_mes',
'Genero_M','Sector_Desempleados', 'Sector_Institucion publica',
'Sector_Sector privado', 'Sector_Selfemployed ',
]
]
features = iz.fit_transform(features)

target = df_training['TARGET']  ## No cambie esta variable

In [ ]:
!pip install -U imbalanced-learn

Requirement already up-to-date: imbalanced-learn in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.7.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imbalanced-learn) (0.16.0)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imbalanced-learn) (0.23.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imbalanced-learn) (1.15.4)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)

### Dividiendo el conjunto de datos en conjuntos de entrenamiento y pruebas

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import PowerTransformer
from imblearn.over_sampling import SMOTE
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import ExtraTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import LinearSVC
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import SGDClassifier
from sklearn import linear_model
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import numpy as np
import itertools
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from imblearn.ensemble import BalancedBaggingClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

In [ ]:
dtc = GradientBoostingClassifier(random_state=1, n_estimators=150, learning_rate=0.3).fit(features, target)

In [ ]:
y_pred2 = dtc.predict(X_test2)

def plot_confusion_matrix(cm, target_names, title='Confusion matrix', cmap=None, normalize=True):
    accuracy = np.trace(cm) / float(np.sum(cm))
    misclass = 1 - accuracy
    if cmap is None:
        cmap = plt.get_cmap('Blues')
    plt.figure(figsize=(8, 6))
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    if target_names is not None:
        tick_marks = np.arange(len(target_names))
        plt.xticks(tick_marks, target_names, rotation=45)
        plt.yticks(tick_marks, target_names)
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
    thresh = cm.max() / 1.5 if normalize else cm.max() / 2
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        if normalize:
            plt.text(j, i, "{:0.2f}".format(cm[i, j]),
                     horizontalalignment="center",
                     color="white" if cm[i, j] > thresh else "black")
        else:
            plt.text(j, i, "{:,}".format(cm[i, j]),
                     horizontalalignment="center",
                     color="white" if cm[i, j] > thresh else "black")
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label\naccuracy={:0.4f}; misclass={:0.4f}'.format(accuracy, misclass))
    plt.show()



plot_confusion_matrix(confusion_matrix(y_test2, y_pred2), ['perfil0', 'perfil1', 'perfil2', 'perfil3', 'perfil4', 'perfil5'])

In [ ]:
features['Importancia'] = dtc.feature_importances_

<hr>

### Download la "Hoja de evaluación"

In [ ]:
!wget --no-check-certificate --content-disposition https://gitlab.com/JoaoPedroPP/datasets/-/raw/master/to_be_scored.csv
df_to_be_scored = pd.read_csv(r'to_be_scored.csv')
df_to_be_scored.tail()

--2020-09-10 03:06:19--  https://gitlab.com/JoaoPedroPP/datasets/-/raw/master/to_be_scored.csv
Resolving gitlab.com (gitlab.com)... 172.65.251.78, 2606:4700:90:0:f22e:fbec:5bed:a9b9
Connecting to gitlab.com (gitlab.com)|172.65.251.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: ‘to_be_scored.csv’

    [ <=>                                   ] 87,631      --.-K/s   in 0.002s

2020-09-10 03:06:20 (35.8 MB/s) - ‘to_be_scored.csv’ saved [87631]

,ID,Genero,Años,Estado_civil,Trabajo,Sector,Telefono,Anos_usando_internet_banking,Anos_usando_banca_movil,Banca_movil_userfriendly,Frecuencia_internet_banking_mes,Frecuencia_banca_movil_mes,Frecuencia_pagamentos_tarjeta_mes,Frecuencia_tarjeta_virtual_mes,Frecuencia_saldo_cuenta_mes
995,25,M,35.0,Casado,Desempleados,Sector privado,ASUS,5.0,3.0,No,7.0,50.0,1.0,0.0,31.0
996,179,M,40.0,Soltero,Profesor,Sector privado,Iphone,10.0,NaN,Si,0.0,1.0,0.0,15.0,1.0
997,222,M,30.0,Casado,Profesor,Institucion publica,LG G2,5.0,3.0,Si,31.0,31.0,0.0,0.0,NaN
998,238,F,35.0,Casado,Servidor publico,Desempleados,Iphone 5,15.0,4.0,No,0.0,4.0,1.0,0.0,31.0
999,152,M,35.0,Soltero,Profesor,Institucion publica,Iphone,0.0,NaN,Si,30.0,7.0,15.0,15.0,15.0

In [ ]:
df_to_be_scored.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
ID                                   1000 non-null int64
Genero                               963 non-null object
Años                                 980 non-null float64
Estado_civil                         976 non-null object
Trabajo                              864 non-null object
Sector                               983 non-null object
Telefono                             927 non-null object
Anos_usando_internet_banking         977 non-null float64
Anos_usando_banca_movil              945 non-null float64
Banca_movil_userfriendly             1000 non-null object
Frecuencia_internet_banking_mes      911 non-null float64
Frecuencia_banca_movil_mes           940 non-null float64
Frecuencia_pagamentos_tarjeta_mes    991 non-null float64
Frecuencia_tarjeta_virtual_mes       977 non-null float64
Frecuencia_saldo_cuenta_mes          973 non-null float64
dtypes: float64(8), int64(1), object(6)
memory usage: 117.3+ KB

En la celda de abajo, repetimos rapidamente los mismos pasos de pré-procesamiento usados en el ejemplo dado con árbol de decisión

In [ ]:
# 1 - Removiendo filas con valores NaN 
df_to_be_scored_1 = df_to_be_scored
df_to_be_scored_1 = pd.get_dummies(df_to_be_scored_1, columns=[ 'Genero','Banca_movil_userfriendly', 'Estado_civil', 'Trabajo', 'Sector', ])
df_to_be_scored_1[['Años', 'Anos_usando_internet_banking', 'Anos_usando_banca_movil',
       'Frecuencia_internet_banking_mes', 'Frecuencia_banca_movil_mes',
       'Frecuencia_pagamentos_tarjeta_mes', 'Frecuencia_tarjeta_virtual_mes',
       'Frecuencia_saldo_cuenta_mes', ]] = impute_zeros.transform(X=df_to_be_scored_1[['Años', 'Anos_usando_internet_banking', 'Anos_usando_banca_movil',
       'Frecuencia_internet_banking_mes', 'Frecuencia_banca_movil_mes',
       'Frecuencia_pagamentos_tarjeta_mes', 'Frecuencia_tarjeta_virtual_mes',
       'Frecuencia_saldo_cuenta_mes', ]])
df_to_be_scored_1['Boolean2'] = (df_to_be_scored_1['Anos_usando_internet_banking']>0).astype(int)
df_to_be_scored_1['Boolean3'] = (df_to_be_scored_1['Frecuencia_internet_banking_mes']>0).astype(int)
df_to_be_scored_1['Boolean4'] = (df_to_be_scored_1['Frecuencia_banca_movil_mes']>0).astype(int)
df_to_be_scored_1['Boolean5'] = (df_to_be_scored_1['Frecuencia_pagamentos_tarjeta_mes']>0).astype(int)
df_to_be_scored_1['Boolean6'] = (df_to_be_scored_1['Frecuencia_tarjeta_virtual_mes']>0).astype(int)
df_to_be_scored_1['Boolean7'] = (df_to_be_scored_1['Frecuencia_saldo_cuenta_mes']>0).astype(int)
from sklearn.preprocessing import MinMaxScaler
minmax.transform(df_to_be_scored_1[['Años','Anos_usando_banca_movil','Anos_usando_internet_banking','Frecuencia_internet_banking_mes','Frecuencia_banca_movil_mes','Frecuencia_pagamentos_tarjeta_mes', 'Frecuencia_tarjeta_virtual_mes','Frecuencia_saldo_cuenta_mes']])
df_to_be_scored_1['Promedio'] =df_to_be_scored_1['Anos_usando_banca_movil']+df_to_be_scored_1['Anos_usando_internet_banking']+df_to_be_scored_1['Frecuencia_internet_banking_mes']+df_to_be_scored_1['Frecuencia_banca_movil_mes']+df_to_be_scored_1['Frecuencia_pagamentos_tarjeta_mes']+df_to_be_scored_1['Frecuencia_tarjeta_virtual_mes']+df_to_be_scored_1['Frecuencia_saldo_cuenta_mes']
df_to_be_scored_1['Promedio2'] =df_to_be_scored_1['Promedio']/df_to_be_scored_1['Años']
df_to_be_scored_1['Promedio3'] =df_to_be_scored_1['Anos_usando_banca_movil']+df_to_be_scored_1['Anos_usando_internet_banking']
df_to_be_scored_1['Promedio4'] =df_to_be_scored_1['Frecuencia_internet_banking_mes']+df_to_be_scored_1['Frecuencia_banca_movil_mes']+df_to_be_scored_1['Frecuencia_pagamentos_tarjeta_mes']+df_to_be_scored_1['Frecuencia_tarjeta_virtual_mes']+df_to_be_scored_1['Frecuencia_saldo_cuenta_mes']
from sklearn.preprocessing import MinMaxScaler







# 3 - Remoción de columnas
df_to_be_scored_1 = df_to_be_scored_1.drop(columns=['ID'], inplace=False)

In [ ]:
df_to_be_scored_1[
  [ 
columnas
]
]=sc.transform(X=df_to_be_scored_1[[
columnas
]])

In [ ]:
df_to_be_scored_1 = df_to_be_scored_1[
   [ 
'Boolean3',
'Boolean4',
'Genero_F',
'Promedio',
'Promedio4',
'Promedio2',
'Promedio3',
'Años',
'Frecuencia_banca_movil_mes',
'Frecuencia_internet_banking_mes',
'Anos_usando_internet_banking',
'Frecuencia_saldo_cuenta_mes',
'Frecuencia_tarjeta_virtual_mes',
'Boolean7',
'Boolean6',
'Banca_movil_userfriendly_Si',
'Banca_movil_userfriendly_No',
'Estado_civil_Casado',
'Anos_usando_banca_movil',
'Boolean2',
'Frecuencia_pagamentos_tarjeta_mes',
'Genero_M','Sector_Desempleados', 'Sector_Institucion publica',
'Sector_Sector privado', 'Sector_Selfemployed ',
]
]
df_to_be_scored_4 = df_to_be_scored_1

df_to_be_scored_1 = iz.transform(df_to_be_scored_1)

<hr>

Puede verificar abajo que las columnas de la hoja de evaluación son identicas a las usadas para entrenar el modelo:

In [ ]:
# df_to_be_scored_4.columns
df_to_be_scored_1

array([[ 0.,  0.,  1., ...,  1.,  0.,  0.],
       [-1.,  0.,  1., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  1.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [-1.,  0.,  1., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  1.,  0.,  0.]])

# Atención

Para todas las columnas que no existiren en "df_to_be_scored", usted puede usar la tecnica de abajo para adicionarla:

In [ ]:
y_pred = dtc.predict(df_to_be_scored_1)

In [ ]:
df_to_be_scored_4['TARGET'] = y_pred

In [ ]:
df_to_be_scored_4

,Boolean3,Boolean4,Genero_F,Promedio,Promedio4,Promedio2,Promedio3,Años,Frecuencia_banca_movil_mes,Frecuencia_internet_banking_mes,...,Estado_civil_Casado,Anos_usando_banca_movil,Boolean2,Frecuencia_pagamentos_tarjeta_mes,Genero_M,Sector_Desempleados,Sector_Institucion publica,Sector_Sector privado,Sector_Selfemployed,TARGET
0,0.0,0.0,1,0.461312,0.380241,-0.008157,0.800000,1.5,0.000000,0.456943,...,1,0.00000,0.0,-0.066667,0,0,1,0,0,Perfil_2
1,-1.0,0.0,1,-0.991069,-1.069428,-0.832015,0.800000,0.0,0.000000,-0.576390,...,0,0.00000,0.0,0.000000,0,0,1,0,0,Perfil_4
2,0.0,0.0,0,-0.610117,-0.760482,-0.742288,1.400000,1.5,-0.200000,-0.543057,...,1,1.50000,0.0,0.933333,1,0,0,1,0,Perfil_4
3,0.0,0.0,1,0.849210,0.696119,1.059392,1.400000,0.0,1.433333,0.000000,...,1,1.50000,0.0,0.933333,0,0,0,1,0,Perfil_2
4,0.0,0.0,1,-0.610117,-0.641657,-0.214121,0.400000,-0.6,0.000000,-0.443057,...,1,1.50000,0.0,-0.066667,0,0,0,1,0,Perfil_4
5,0.0,-1.0,0,-1.086307,-1.069428,-0.989329,0.000000,0.5,-0.233333,-0.343057,...,0,0.50000,0.0,0.000000,1,0,0,1,0,Perfil_4
6,0.0,0.0,0,-0.443450,-0.404006,0.000000,-0.200000,-0.6,-0.100000,0.456943,...,1,0.00000,0.0,0.000000,1,0,1,0,0,Perfil_4
7,-1.0,-1.0,0,-0.991069,-0.879308,-0.832015,-0.800000,0.0,-0.233333,-0.576390,...,1,-1.50000,0.0,-0.066667,1,0,0,1,0,Perfil_4
8,-1.0,-1.0,1,-0.562498,-0.522832,-0.773284,-0.200000,2.0,-0.233333,-0.576390,...,1,0.00000,0.0,-0.066667,0,0,1,0,0,Perfil_4
9,0.0,0.0,0,-0.419640,-0.499067,-0.402024,0.800000,0.5,-0.200000,0.456943,...,1,0.00000,0.0,-0.066667,1,0,1,0,0,Perfil_4
10,0.0,0.0,1,0.889883,0.689187,1.101196,1.800000,0.0,0.800000,1.090277,...,0,0.00000,0.0,0.000000,0,0,1,0,0,Perfil_2
11,0.0,0.0,0,-0.324402,-0.356476,-0.146826,0.400000,0.0,0.000000,0.456943,...,1,1.50000,0.0,-0.066667,1,0,0,0,0,Perfil_4
12,0.0,0.0,0,-0.300593,-0.261416,-0.530206,-0.200000,1.5,-0.100000,-0.343057,...,1,0.00000,0.0,-0.066667,1,0,1,0,0,Perfil_4
13,0.0,0.0,1,0.732805,0.722523,0.939754,0.200000,0.0,0.346757,0.456943,...,1,-1.50000,0.0,-0.066667,0,0,0,0,0,Perfil_2
14,0.0,0.0,0,0.651788,0.760482,0.856486,-0.800000,0.0,-0.100000,1.090277,...,1,-1.50000,0.0,-0.066667,1,0,1,0,0,Perfil_2
15,-1.0,0.0,0,0.294645,0.237651,0.030589,0.600000,1.0,0.800000,-0.576390,...,0,2.00000,0.0,0.000000,1,0,0,1,0,Perfil_3
16,-1.0,0.0,0,-1.133926,-1.140723,-1.101196,0.200000,1.5,-0.200000,-0.576390,...,0,-1.50000,0.0,-0.066667,1,0,1,0,0,Perfil_4
17,0.0,0.0,0,-0.729164,-0.689187,-0.758602,-0.200000,1.0,-0.200000,-0.343057,...,0,0.00000,0.0,0.000000,1,0,0,1,0,Perfil_4
18,0.0,0.0,1,0.675598,0.712952,-0.009788,-0.200000,2.0,-0.200000,1.090277,...,0,0.00000,0.0,0.000000,0,0,0,1,0,Perfil_2
19,0.0,0.0,1,0.556550,0.665422,0.457958,-0.800000,0.5,1.433333,-0.543057,...,1,-1.50000,0.0,0.933333,0,0,1,0,0,Perfil_2
20,0.0,-1.0,0,-0.086307,-0.166356,-0.108372,0.800000,0.5,-0.233333,0.456943,...,0,0.00000,0.0,-0.066667,1,0,0,1,0,Perfil_3
21,0.0,0.0,1,-0.610117,-0.760482,-0.666835,1.400000,1.0,-0.100000,-0.543057,...,1,1.50000,0.0,0.000000,0,0,0,1,0,Perfil_4
22,0.0,0.0,0,0.342264,0.380241,0.538363,-0.200000,0.0,0.000000,0.423610,...,0,0.00000,0.0,0.000000,1,0,1,0,0,Perfil_2
23,0.0,0.0,0,0.785714,0.689187,0.659842,0.924980,0.5,1.433333,-0.543057,...,0,0.31245,0.0,-0.066667,1,0,0,1,0,Perfil_5
24,0.0,0.0,1,-0.324402,-0.427771,-0.318123,1.000000,0.5,-0.100000,-0.543057,...,1,0.50000,0.0,-0.066667,0,0,0,1,0,Perfil_4
25,0.0,0.0,0,-1.086307,-0.974368,-0.929899,-0.800000,0.0,-0.100000,-0.343057,...,0,-1.50000,0.0,0.000000,1,0,0,1,0,Perfil_4
26,0.0,0.0,0,-0.038688,-0.332711,0.146826,2.600000,0.0,0.000000,0.456943,...,0,2.00000,0.0,0.000000,1,0,1,0,0,Perfil_3
27,0.0,0.0,0,0.008931,-0.166356,0.195768,1.600000,0.0,0.000000,-0.343057,...,1,2.00000,0.0,0.000000,1,0,0,1,0,Perfil_3
28,-1.0,-1.0,0,0.389883,0.308946,0.587305,0.800000,0.0,-0.233333,-0.576390,...,0,0.00000,0.0,2.000000,1,0,1,0,0,Perfil_2
29,-1.0,0.0,0,-0.787921,-0.819130,-0.803894,0.400000,1.0,0.000000,-0.576390,...,0,1.50000,0.0,0.000000,1,0,1,0,0,Perfil_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0.0,0.0,0,-0.157736,-0.118825,-0.171297,-0.200000,0.5,0.800000,-0.543057,...,0,0.00000,0.0,-0.066667,1,0,1,0,0,Perfil_3
971,0.0,0.0,0,-0.412695,-0.302014,-0.237572,-0.800000,0.0,0.000000,0.000000,...,1,-1.50000,0.0,0.933333,1,0,1,0,0,Perfil_4
972,0.0,-1.0,1,-0.419640,-0.499067,-0.244710,0.800000,0.0,-0.233333,-0.543057,...,1,0.00000,0.0,0.000000,0,0,1,0,0,Perfil_4
973,0.0,-1.0,0,-0.967260,-0.855543,-0.672953,-0.800000,-0.6,-0.233333,-0.543057,...,0,-1.50000,0.0,0.000000,1,0,1,0,0,Perfil_4
974,0.0,0.0,0,-1.181545,-1.045663,-1.073229,-1.000000,0.5,-0.200000,-0.343057,...,0,0.50000,-1.0,0.000000,1,1,0,0,0,Perfil_4
975,0.0,0.0,0,0.556550,0.404006,0.758602,1.400000,0.0,0.000000,0.456943,...,1,1.50000,0.0,2.000000,1,0,0,1,0,Perfil_2
976,-1.0,0.0,0,0.651788,0.689187,1.407084,-0.200000,-0.6,1.433333,-0.576390,...,1,0.00000,0.0,0.000000,1,0,0,1,0,Perfil_2
977,0.0,-1.0,1,0.556550,0.570362,1.284729,0.000000,-0.6,-0.233333,0.456943,...,1,0.50000,0.0,0.933333,0,0,1,0,0,Perfil_2
978,0.0,0.0,1,-1.086307,-1.188254,-1.096302,1.000000,2.0,-0.200000,-0.543057,...,1,0.50000,0.0,0.000000,0,0,0,1,0,Perfil_4
979,-1.0,0.0,0,-1.110117,-1.116958,-1.010304,0.200000,0.5,-0.200000,-0.576390,...,1,-1.50000,0.0,-0.066667,1,0,0,1,0,Perfil_4
980,0.0,0.0,1,0.770836,0.736717,1.560028,0.400000,-0.6,0.000000,0.456943,...,0,1.50000,0.0,2.000000,0,0,0,1,0,Perfil_2
981,0.0,0.0,0,-0.800593,-0.760482,-0.737627,-0.200000,0.5,-0.100000,-0.543057,...,1,0.00000,0.0,0.000000,1,0,0,1,0,Perfil_4
982,0.0,0.0,1,0.866074,1.021898,1.076725,-1.200000,0.0,1.433333,-0.543057,...,1,0.00000,-1.0,2.000000,0,0,0,1,0,Perfil_2
983,0.0,0.0,0,0.961312,0.926838,1.174609,0.400000,0.0,0.766667,0.456943,...,1,1.50000,0.0,-0.066667,1,0,1,0,0,Perfil_1
984,0.0,0.0,1,0.508931,0.570362,0.416007,-0.400000,0.5,0.766667,0.456943,...,1,2.00000,-1.0,0.000000,0,0,0,1,0,Perfil_2
985,0.0,-1.0,0,-1.071274,-1.030658,-0.914448,-0.200000,0.0,-0.233333,-0.543057,...,0,0.00000,0.0,0.375427,1,0,0,1,0,Perfil_5
986,0.0,0.0,0,-0.300593,-0.332711,0.183533,0.400000,-0.6,0.000000,0.456943,...,1,1.50000,0.0,0.000000,1,0,0,1,0,Perfil_4
987,-1.0,-1.0,0,-1.133926,-1.093193,-0.978841,-0.200000,0.0,-0.233333,-0.576390,...,1,0.00000,0.0,-0.066667,0,1,0,0,0,Perfil_4
988,-1.0,0.0,0,0.404762,0.308946,-0.176805,0.924980,2.0,1.433333,-0.576390,...,1,0.31245,0.0,0.000000,1,0,0,1,0,Perfil_5
989,0.0,0.0,1,-0.346343,-0.356476,-0.169377,0.215697,0.0,0.000000,0.456943,...,1,0.50000,0.0,-0.066667,0,0,1,0,0,Perfil_4
990,0.0,0.0,0,0.651788,0.570362,0.541858,0.800000,0.5,0.800000,-0.543057,...,0,2.00000,0.0,0.933333,1,0,1,0,0,Perfil_2
991,0.0,-1.0,0,0.199407,0.237651,-0.187611,-0.200000,1.5,-0.233333,0.456943,...,1,0.00000,0.0,0.000000,1,0,0,1,0,Perfil_3
992,-1.0,0.0,0,-0.491069,-0.451536,-0.318123,-0.200000,0.0,-0.100000,-0.576390,...,0,0.00000,0.0,-0.066667,1,0,0,1,0,Perfil_4
993,0.0,0.0,1,0.747026,0.855543,0.954370,-0.800000,0.0,1.433333,0.456943,...,0,-1.50000,0.0,0.000000,0,0,0,1,0,Perfil_2
994,-1.0,0.0,0,-1.229164,-1.188254,-1.076725,-0.200000,0.0,-0.200000,-0.576390,...,1,0.00000,0.0,0.000000,1,0,1,0,0,Perfil_4
995,0.0,0.0,0,0.818455,0.855543,0.688685,-0.200000,0.5,1.433333,-0.343057,...,1,0.00000,0.0,0.000000,1,0,0,1,0,Perfil_2
996,-1.0,0.0,0,-0.761905,-0.855543,-0.783839,0.924980,1.0,-0.200000,-0.576390,...,0,0.31245,0.0,-0.066667,1,0,0,1,0,Perfil_5
997,0.0,0.0,0,0.426364,0.464184,0.624799,-0.200000,0.0,0.800000,0.456943,...,1,0.00000,0.0,-0.066667,1,0,1,0,0,Perfil_2
998,-1.0,0.0,1,-0.181545,-0.404006,-0.192272,2.000000,0.5,-0.100000,-0.576390,...,1,0.50000,0.0,0.000000,0,1,0,0,0,Perfil_3
999,0.0,0.0,0,0.547619,0.689187,0.450090,-1.075020,0.5,0.000000,0.423610,...,0,0.31245,-1.0,0.933333,1,0,1,0,0,Perfil_0

### Guardando la hoja de evaluacion como un archivo .csv para ser enviado
**SI YA TIENE UN DATA ASSET CON EL NOMBRE results.csv EN ESTE PROYECTO O EN OTRO PROYECTO DE WATSON STUDIO DEBE BORRAR EL ARCHIVO ANTES DE CORRER LA SIGUIENTE CELDA O TENDRA EL ERROR: _RuntimeError: File 'results.csv' already exists in storage._**

In [ ]:
project.save_data(file_name="results.csv", data=df_to_be_scored_4.to_csv(index=False))

Error: Error

# ATENCIÓN

# La ejecución de la celda anterior creará un nuevo "data asset" en su proyecto de Watson Studio. Deberá descargar este archivo junto con este cuaderno y crear un archivo zip con results.csv y notebook.ipynb para enviarlo. (los archivos deben tener este nombre)

<hr>

## ¡Felicitaciones!
Si ya está satisfecho con su solución, vaya a la página siguiente y envíe los archivos necesarios para su envío.

# https://bancoppel.maratona.dev